*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	outline:0;
}
html{
  /*a cada 1rem será considerada 10px*/
  font-size:62.5%;

  font-family:sans-serif;

  line-height:1.15;
 /*
-webkit-text-size-adjust:100%;
-webkit-tap-highlight-color:transparent;*/
}
 body{
  font-size:1.6rem;
}
h2{
  color: orange;
  border-bottom:solid 1px black; 
  width: 80%;
  margin:2% 10% 0% 10%;
  text-align: left;
 
}
/*html, body{
  height: 100vh;
}*/
figure {
    margin: 0 0 1rem;
}
header.cabecalho {
  background-color: #053579;
  width:100%;
  position: fixed;
  height: auto;
  top: 0;
  z-index: 1; 
}

header.cabecalho div#estado{
  position: relative;
  background-color: #707070;
  display: flex;
  width:100%;
}

header.cabecalho div#estado #icon{
  position: relative;
  width:5%;
}

header.cabecalho div#estado div.estado-dados{
  position: relative;
  color: white;
  display: grid;
  margin: 0% 1% 0% 0%; 
  font-weight: bold;
}

header.cabecalho div#estado span{
  position: absolute;
  background-color: #1E90FF;
  left: 90%;
  color:white;
  padding: 1%;
  text-align: center;
  border-radius: 20%;
}
header.cabecalho div#estado span#login{
  left: 90%;
  width:8%;
}
header.cabecalho div#estado span#cadastra{
  left: 80%;
  width:10%;
  margin-right: 5%;
}
header.cabecalho nav.nav-menu {
  position: relative;
  width:100%;
}

header.cabecalho nav.nav-menu ul.ul-menu{
  position: relative;
  width:50%;
  margin: 0% 0% 0% 40%;
  list-style: none;
  display: flex; 
  align-items: center;
}

header.cabecalho nav.nav-menu ul.ul-menu li{
  position: relative; 
  width: 100%;
  padding: 0.3%;
  border-radius:5%; 
  /*left:13%;*/
  margin-left: 0.2%;
  text-align: center;
}

header.cabecalho nav.nav-menu ul.ul-menu li a{
 position: relative;
 text-decoration: none;
 color: white; 
 align-items: center;
}

header.cabecalho nav.nav-menu ul.ul-menu li:hover{
  color: black;
  background-color:#1E90FF;
}
header.cabecalho nav.nav-menu ul.ul-menu li:hover a{
  color: black;
}


section.corpo {
  position: relative;
  width:100%;
  text-align: center;
  align-items: center; 
  background-color: white/*#757575*/;
  margin-top: 5%;
}

section.corpo div.divfoto {
 position: relative;
 width:100%;
}

section.corpo div.divfoto img.foto{
 position: relative;
 width:100%;
 /*opacity: .2;*/
}

section.corpo  div.texto-imagem{
 position: relative;
 width:100%;
 top:50%;
 padding: 1.5%; 
 /*color:white;
 background-color: #1E90FF;*/
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-top: 4px solid #053579;

}

section.corpo  div.texto-imagem h1.texto{
   font-size: 5.4rem;
   margin: 1%;
}

/*section.corpo  div.texto-imagem form#pesq {
  position: relative;
  width: 80%;
  display: flex;
  margin: 1% 10% 2% 10%;
  align-items: center;
}
section.corpo  div.texto-imagem form#pesq input[type=text] {
  position: relative;
  width: 40%;
  padding:2%;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0% 0% 0% 20%;
}
 
 #1E90FF ;#9400D3; */
section.corpo  div.texto-imagem button {
  position: relative;
  background-color: #053579;
  color: white;
  padding:2%;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  width: 40%;
  margin: 1%;
  font-size: 2.4rem;
}
section.corpo  div.mae{
 position: relative;
 width: 98%;
 margin: 5% 1% 5% 1%;
 display:flex;
}
section.corpo  div.mae div.filho1{
 position: relative;
 width: 80%;
 /*margin: 5% 0% 5% 0%;*/
 display:block;
}
section.corpo div.mae div.filho1 ul.conteudo{
 position: relative;
 width: 80%;
 margin: 1% 10% 0% 10%;
 display:flex;
 list-style: none;
 background-color: white;
}
section.corpo div.mae div.filho1 ul.conteudo li.cada{
 position: relative;
 background-color: white;
 width:50%;
 height: 50%;
 margin: 0.8%; 
 transition: transform 1.2s;
  }
section.corpo div.mae div.filho1 ul.conteudo li.cada img{  
      position: relative;
      width:100%;
      vertical-align: middle;
      border-bottom: solid 3px #653579;
  }
  section.corpo div.mae div.filho1 ul.conteudo li.cada h3{
    position: relative;
    color:white;
    background-color: #653579;
    width:60%;
    margin: 0% 20% 1% 20%;
    padding: 1%;
    border-radius:8px;
  }
   section.corpo div.mae div.filho1 ul.conteudo li.cada a{
    position: relative;
    text-decoration: none;
    color:black;
    width:100%;
    display: block;
    text-align: left;
  }
section.corpo div.mae div.filho1 ul.conteudo li.cada:hover{  
  cursor: pointer;
  transform : translateX(-5px);
  /*background-color:rgba(0,0,0,.3 );*/
}

section.corpo  div.mae div.filho2{
 position: relative;
 width: 20%;
 /*margin: 5% 0% 5% 0%;*/
 display:block;

}
section.corpo div.mae div.filho2 div.conteudo{
 position: relative;
 width: 100%;
 top:18%;
 display:block;
 border-left: solid 1px black;
}
section.corpo div.mae div.filho2 div.conteudo div.cada{
 position: relative;
 width:80%;
 height: 50%;
 margin: 10%; 
 transition: transform 1.2s;
}
section.corpo div.mae div.filho2 div.conteudo div.cada img{  
  position: relative;
  width:100%;
  vertical-align: middle;
  border-bottom: solid 1px #653579;
}

   section.corpo div.mae div.filho2 div.conteudo div.cada a{
    position: relative;
    text-decoration: none;
    color:black;
    width:100%;
    display: block;
    text-align: left;
  }

footer.rodape {
      position: relative;
      background-color:#053579;
      width: 100%;
      height: auto;
      display: block;
      text-align:center;

    }
   /* footer h3,footer p {
      font-size: 1.4rem;
    }*/
    footer.rodape div.rodape-bloco{
      position: relative;
      padding:2%;
      margin:0% 5% 0% 5%;
      display:inline-grid;
      text-align:left;

    }
footer.rodape div.rodape-bloco .title{
      position: relative;
      color:orange;
      margin: 0% 0% 5% 0%;
    }

    footer.rodape div.rodape-bloco div.canais a{
      position: relative;
      margin: 1%;
      display:block;

    }

a{
   text-decoration: none;
   color:white;}


@media(max-width: 768px){
  html{
    font-size:30%;
  }
}

@media(max-width: 500px){
  nav{
    display: none;
  }
  .um,.dois,.tres{
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
  }
  .menu-oculto-toggle{
    width:40px;
    height: 30px;
    margin-right: 20px; 
  }
.menu-oculto.on{
    position: absolute;
    top:0;
    left:0;

    width:100vw;
    height: 100vh;

    background-color: #7159c1; 
   z-index: 10;
  }

.menu-oculto.on nav{
    display: block;
  }

}